@{
    ViewData [ "Title" ] = "Home Page";
}

<!DOCUMENT html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Mi Tienda</title>
</head>
<body>
    <h1>Listado de electrodomesticos en Oferta</h1>

    <h2>Heladera familiar</h2>

    <img src="images/heladera.jpg" width="200" height="250" />
    <p>
        Con freezer que no funciona
    </p>
    <h3>Lavarropa carga frontal</h3>
    <img src="~/images/lavarropa.png" width="200" height="200" />
    <p>
        Un solo programa y con 100 RPM, tarda 1 dia en terminar.
    </p>
    <h4>Licuadora </h4>
    <img src="~/images/licuadora.jpg" width="200" height="250" />
    <p>
        Las cuchillas estan gastadas. 
    </p>
    <h5>Tostadora</h5>
    <img src="~/images/tostadora.png" width="200" height="100" />
    <p>
        Al enchufarla salta la termica.
    </p>
    


</body>

</html>

</!DOCUMENT>